Django==5.1.2
gunicorn
whitenoise
psycopg2-binary
dj-database-url

djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular
Pillow==10.4.0
channels
channels_redis
redis

celery
amqp
kombu
billiard
vine

PyJWT
python-dotenv
tzdata